{% load static %}
<html>

<head>
    <title>TODO</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- static에 있는 css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Datepicker 사용할 때, 필요함! -->
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
        integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
        integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <!-- material js -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Pen+Script&display=swap" rel="stylesheet">

    {% block script %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            $("#open_pop").click(function () {
                $("#modal").toggle();
            });
            $("#modal_cancel_btn").click(function () {
                $("#modal").toggle();
            })

        });
    </script>

</head>

<body>
    <!-- header -->
    <div class="page_header">
        <div id="header">
            <a href="{% url 'board:post_list' %}">TODO LIST</a>
            <a id="open_pop" style="width:50px; position:relative;">
                <button class="mdc-icon-button material-icons" style="display:inline; color : white; font-size: 40px">
                    notification_important</button>
                <span id="alarm_counter">{{post_list_false.count}}</span>
            </a>
        </div>
        <div id="alarm">
            <!-- 마감기한 지난 항목 알림 노출 -->
            <a id="open_pop" style="width:50px; position:relative;">
                <img src="{% static "img/alarm.png" %}" widht="50" height="50">
                {% if post_list_false.count %}
                <span id="alarm_counter">{{post_list_false.count}}</span>
                {% endif %}
            </a>
        </div>
    </div>

    <!-- context -->
    <div class="context">
        <div id="context_list">
            {% block content %}
            {% endblock %}
            <!-- modal -->
            <div id="modal">
                <div id="modal_content">
                    <div id="modal_header">
                        <a>[마감 기한이 지난 항목]</a>
                        <input type="button" class="btn" id="modal_cancel_btn" onclick=close_pop() value="x">
                    </div>
                    <div id="modal_table">
                        <div class="modal_row_header">
                            <span class="modal_col1">제목</span><span class="modal_col2">마감 기한</span>
                        </div>
                        {% for post in post_list_false %}
                        <div class="modal_row">
                            <li><span class="modal_col1">{{post.title}}</span>
                                <span class="modal_col2">{{post.due_date|date:'Y-m-d'}}</span>
                            </li>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>