{% load static %}
<html>

<head>
    <title>TODO</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- static에 있는 css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Datepicker 사용할 때, 필요함! -->
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
        integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
        integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <!-- material js -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Pen+Script|Permanent+Marker&display=swap" rel="stylesheet">

    {% block script %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            $("#open_pop").click(function () {
                $("#modal").toggle();
            });
            $("#close_pop").click(function () {
                $("#modal").toggle();
            })

        });
    </script>

</head>

<body>
    <!-- header -->
    <div class="page_header">
        <div id="header">
            <a id="header_title" href="{% url 'board:post_list' %}" style="color:white;text-decoration-line:none;">TODO LIST</a>
                <a id="open_pop" style="width:50px; position:relative;">
                    <button class="mdc-icon-button material-icons" title="Alarm about due date over"
                        style="display:inline; color : white; font-size: 40px">
                        notification_important</button>
                    {% if post_list_false.count %}
                    <span id="alarm_counter" title="Alarm about due date over">{{post_list_false.count}}</span>
                    {% endif %}
                </a>
            
        </div>
    </div>

    <!-- context -->
    <div class="context">
        <div id="context_list">
            {% block content %}
            {% endblock %}
            <!-- modal -->
            <div id="modal">
                <div id="modal_content">                
                    <div id="modal_header">
                        <a>[Due Date Over List]</a>
                        <button class="mdc-icon-button material-icons" title="Close"
                        style="display:inline; font-size: 20px; float:right;" id="modal_cancel_btn" onclick=close_pop()>
                        clear</button>   
                    </div>
                    <div id="modal_table">
                        <div class="modal_row_header">
                            <span class="modal_col1">Title</span><span class="modal_col2">Due date</span>
                        </div>
                        
                        <div class="modal_row">
                            {% for post in post_list_false %}
                            <li><span class="modal_col1">{{post.title}}</span>
                                <span class="modal_col2">{{post.due_date|date:'Y-m-d'}}</span>
                            </li>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>