{% extends 'board/base.html' %}
{% load static %}

{% block script %}
<!-- static에 있는 css -->
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">

<script>
    // 우선 순위 리스트 움직일 수 있게끔 설정
    function sort() {
        $(function () {
            $(".sortable").sortable();
            $(".sortable").disableSelection();
        });
    }

    // 변경된 우선 순위 적용
    function rank_change() {
        // 배열 생성
        var orderlist = $(".sortable").sortable("toArray");

        // 배열을 POST 로 넘김
        $.ajax({
            url: "{% url 'board:update_post_list_rank' %}",
            type: "POST",
            data: {
                "orderlist": orderlist.toString(),
                "csrfmiddlewaretoken": "{{csrf_token}}",
            },

            async: false,
            cache: false,
            success: function (data) {
                if (data == "OK") {
                    alert("변경 내용이 저장되었습니다.");
                    window.location.reload(true); //현재화면 새로고침
                }
            },
            error: function (request, status, error) {
                alert("orderlist:" + orderlist + "\n" + "code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        })
    }

    // 우선 순위 변경 버튼 눌렀을 때,
    function rank_btn() {
        sort()
        // $("#rank_btn").hide()
        
        document.getElementById('rank_btn').style.visibility = 'hidden';
        $("#rank_save_btn").show()
        $("#add_post_btn").hide()
        $("#rank_help").show()
        $(".todo_list_body button").attr('disabled',true)        
    }
    function rank_save_btn() {
        rank_change()
        document.getElementById('rank_btn').style.visibility = 'visible';
        
        $("#rank_save_btn").hide()
        $("#add_post_btn").show()
        $("#rank_help").hide()
        $(".todo_list_body button").attr('disabled',false)
    }

    // 항목 완료 체크버튼 눌렀을 때,
    function complete_btn(id) {
        var url = "{% url 'board:complete' 'id' 'board:post_list' %}".replace("id", id)
        if (confirm('완료 처리하시겠습니까?')) {
            location.href = url
        }
    }

    // 항목 추가 버튼눌렀을 때,
    function add_post_btn() {
        location.href = "{% url 'board:add_post' %}"
    }
</script>
{% endblock %}

{% block content %}

<!-- 사용되는 버튼들 -->
<div class="btn_group">
    <button id="rank_save_btn" class="mdc-icon-button material-icons" style="font-size: 40px;display:none;"
        onclick=rank_save_btn()>
        save
    </button>
    <a id="rank_help" style="font-weight: bold;"> * 리스트를 드래그 하여 우선 순위를 변경하여 주십시오.</a>
    <button id="add_post_btn" title="Add post" class="mdc-icon-button material-icons" onclick=add_post_btn()>
        add_circle
    </button>
</div>


<!-- todo 항목 list -->
<div class="todo_list">
    <!-- todo 항목 리스트의 헤더 -->
    <div class="todo_list_header">
        <span class="col_rank">Rank
            <button id="rank_btn" class="mdc-icon-button material-icons" title="Change Rank" onclick=rank_btn()>
                format_line_spacing
            </button>
        </span>
        <span class="col_title">Title</span>
        <span class="col_due_date">Due date</span>
        <span class="col_complete">Status</span>
    </div>
    <!-- 완료되지 않은 list -->
    <div class="todo_list_body">
        <ul class="sortable">
            {% for post in post_list %}
            <li id={{forloop.counter}}>
                <span class="col_rank">{{post.rank |floatformat:"0"}}</span>
                <span class="col_title"><a href="{% url 'board:post_detail' post.id %}">{{post.title}}</a></span>
                <span class="col_due_date">
                    {% if post.due_chk %}
                    {{post.due_date|date:'Y-m-d'}}
                    {% else %}
                    -
                    {% endif %}
                </span>
                <span class="col_complete">
                        <button class="mdc-icon-button material-icons" title="Done" style="font-size: 25px" onclick=complete_btn("{{post.id}}")>
                                radio_button_unchecked
                            </button>
                </span>
            </li>
            {% endfor %}
        </ul>
        <!-- 완료된 list -->
        <ul class="fixed">
            {% for post in post_list_complete %}
            <li>
                <span class="col_rank">-</span>
                <span class="col_title"><a href="{% url 'board:post_detail' post.id %}">{{post.title}}</a></span>
                <span class="col_due_date">
                    {% if post.due_chk %}
                    {{post.due_date|date:'Y-m-d'}}
                    {% else %}
                    -
                    {% endif %}
                </span>
                <span class="col_complete">
                    <button class="mdc-icon-button material-icons" style="font-size: 25px" disabled>
                        check_circle_outline
                    </button>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}