{% extends 'board/base.html' %}
{% load staticfiles %}

{% block script %}
<!-- static에 있는 css -->
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

<script>
    // 목록 버튼 눌렀을 때,
    function home_btn() {
        location.href = "{% url 'board:post_list' %}"
    }

    // 수정 버튼 눌렀을 때,
    function edit_btn() {
        location.href = "{% url 'board:edit_post' pk=post.pk %}"
    }

    // 삭제 버튼 눌렀을 때,
    function delete_btn() {
        if (confirm('정말 삭제하시겠습니까?')) {
            location.href = "{% url 'board:delete_post' post.id %}"
        }
    }

    // 완료 체크 버튼 눌렀을 때,
    function complete_btn() {
        if (confirm('완료 처리하시겠습니까?')) {
            location.href = "{% url 'board:complete' post.id 'board:post_detail' %}"
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="todo">
    <div class="todo_header">
        <div class="todo_title">{{post.title}}</div>
        <!-- 사용되는 버튼들 -->
        <div class="btn_group">
            <button id="home_btn" class="mdc-icon-button material-icons" title="List" style="display:inline; font-size: 40px"
                onclick=home_btn()>
                format_list_bulleted</button>
            
            {% if post.complete_chk %}
            <button class="mdc-icon-button material-icons" style="display:inline; font-size: 40px;" disabled>
                check_circle_outline</button>
            {% else %}
            <button id="complete_btn" class="mdc-icon-button material-icons" title="Done" style="display:inline; font-size: 40px;"
                onclick=complete_btn()>
                check_circle_outline</button>
            {% endif %}
            
            <button id="edit_btn" class="mdc-icon-button material-icons" title="Edit post" style="display:inline;font-size: 40px"
                onclick=edit_btn()>
                edit</button>

            <button id="delete_btn" class="mdc-icon-button material-icons" title="Delete post" style="display:inline;font-size: 40px"
                onclick=delete_btn()>
                delete_forever</button>

        </div>
    </div>

    <!-- 선택된 todo 항목 상세 내용 -->
    <div class="todo_body">
            <div class="todo_row">
        
        <div class="todo_col1">Due date</div>
        <div class="todo_col2">
            {% if post.due_chk %}
            {{post.due_date|date:'Y-m-d'}}
            {% else %}
            -
            {% endif %}
        </div>
            </div>
            <div class="todo_row"> 
        <div class="todo_col1">Status</div>
        <div class="todo_col2">
            {% if post.complete_chk %}
            완료
            {% else %}
            진행중
            {% endif %}
        </div>
        </div>
    </div>
    <div id="todo_content_title">Notes</div>
    <div id="todo_content">{{post.text}}</div>
</div>
{% endblock %}