<html>

<head>
    <title>TODO</title>
    <style>
        #table {
            display: table;
            width: 100%;
        }

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            padding: 3px;
            /* border-bottom: 1px solid #DDD; */
        }

        .col1 {
            width: 10%;
        }

        .col2 {
            width: 40%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
        integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
        integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            due_date_chk()

            $("#id_due_chk").click(function () {
                due_date_chk()
            });

            $("#id_due_date").bind("change", function () {
                if (is_valid_dateformat()) {
                    is_valid_date()
                }
                else {
                    alert("날짜 형식을 맞춰주세요. YYYY-MM-DD")
                }
            })
        })

        // 마감기한 체크 하면, 입력할 수 있도록 변경
        function due_date_chk() {
            if ($("#id_due_chk").is(":checked")) {
                $("#id_due_date").attr('disabled', false)
            } else {
                $("#id_due_date").val('')
                $("#id_due_date").attr('disabled', true)
            }
        }

        // 날짜 변환
        function format_date(date) {
            var d = new Date(date);
            var month = '' + (d.getMonth() + 1);
            var day = '' + d.getDate();
            var year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }

        // 날짜 체크 (수기 입력시 필요)
        function is_valid_dateformat() {
            var due_date_input = $("#id_due_date").val()
            var regEx = /^\d{4}-\d{2}-\d{2}$/;
            if (!due_date_input.match(regEx)) return false;
            var d = new Date(due_date_input);
            var dNum = d.getTime();
            if (!dNum && dNum !== 0) return false;
            return d.toISOString().slice(0, 10) === due_date_input;
        }

        // 현재 날짜와 비교
        function is_valid_date() {
            var due_date_input = $("#id_due_date").val().split('-');
            var due_date = new Date(due_date_input[0], due_date_input[1] - 1, due_date_input[2]);

            // 시간 00 맞추기 위해서 포맷팅한다.
            due_date = format_date(due_date);
            var today = format_date(new Date());
            
            if (due_date < today) {
                alert('마감 기한은 오늘부터 가능합니다.')
                $("#id_due_date").val('')
                $("#id_due_date").focus()
                return false;
            } else {
                return true;
            }

        }

        // 저장버튼 눌렀을 때, 체크
        function is_valid_save() {
            if ($("#id_due_chk").is(":checked") && $("#id_due_date").val() == "") {
                alert('마감 기한을 입력해주십시오.')
                return false;
            }
            return true;
        }

        // 뒤로가기 버튼
        function cancel_btn() {
            history.go(-1)
        }

        // datepicker
        $(function () {
            $("#id_due_date").datepicker({ format: 'yyyy-mm-dd' });
        });

    </script>
</head>

<body>
    <!-- header -->
    <div class="page-header" style="width :100% ;border-bottom:1px solid black; padding:20px;">
        <h1>TODO LIST</a></h1>
    </div>
    <div class="context">
        <input type="button" id="cancel_btn" onclick=cancel_btn() value="취소" />
        <form method="POST" class="post-form">{% csrf_token %}
            <div id="table">
                <div class="row">
                    <span class="cell col1">제목</span><span class="cell col2">{{form.title}}</span>
                </div>
                <div class="row">
                    <span class="cell col1">내용</span><span class="cell col2">{{form.text}}</span>
                </div>
                {% if form.title.value == None %}
                <div class="row">
                    <span class="cell col1">마감 기한</span><span class="cell col2">{{form.due_chk}}{{form.due_date}}</span>
                </div>
                {% endif %}

            </div>
            <input type="submit" id="save_btn" onclick="return is_valid_save()" value="저장" />

        </form>
    </div>

</html>