{% extends 'board/base.html' %}
{% load staticfiles %}

{% block script %}
<!-- static에 있는 css -->
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

<script>
    $(document).ready(function () {
        var param = document.location.href.split("/");
        if (param[param.length - 2] == "new") {
            $("#todo_row_complete").hide();
        } else {
            $("#todo_row_complete").show();
        }

        due_date_chk()
        $("#id_due_chk").click(function () {
            due_date_chk()
        });

        $("#cancel_btn").click(function () {
            cancel_btn()
        })

    })

    // 마감기한 체크 하면, 입력할 수 있도록 변경
    function due_date_chk() {
        if ($("#id_due_chk").is(":checked")) {
            $("#id_due_date").attr('disabled', false)
        } else {
            $("#id_due_date").val('')
            $("#id_due_date").attr('disabled', true)
        }
    }

    // 저장버튼 눌렀을 때, 체크
    function is_valid_save() {
        if ($("#id_due_chk").is(":checked") && $("#id_due_date").val() == "") {
            alert('마감 기한을 입력해주십시오.')
            return false;
        }
        return true;
    }

    // 뒤로가기 버튼
    function cancel_btn() {
        $("#cancel_btn").bind('submit', "return false;")
        var param = document.location.href.split("/");
        if (param[param.length - 2] == "new") {
            location.href = "{% url 'board:post_list' %}"
        } else {
            id = param[param.length - 3]
            var url = "{% url 'board:post_detail' 'id' %}".replace('id', id)
            location.href = url
        }
    }

    // datepicker
    $(function () {
        $("#id_due_date").datepicker({ format: 'yyyy-mm-dd' });
    });
</script>
{% endblock %}

{% block content %}

<form method="POST" class="post-form">{% csrf_token %}
    <div class="todo">
        <div class="todo_header">
            <div class="todo_title">{{form.title}}</div>
            <!-- 사용되는 버튼들 -->
            <div class="btn_group">
                <button type="button" id="cancel_btn" class="mdc-icon-button material-icons" title="Cancel"
                    style="display:inline;font-size: 40px;">
                    cancel</button>

                <button type="submit" id="save_btn" class="mdc-icon-button material-icons" title="Save post"
                    style="display:inline; font-size: 40px;" onclick="return is_valid_save()">
                    save_outline</button>
            </div>
        </div>

        <!-- 선택된 todo 항목 상세 내용 -->
        <div class="todo_body">

            <div class="todo_row">
                <!-- 유효성 체크 후, 에러발생시 메세지 보여줌 -->
                {{ form.non_field_errors }}
                <div class="todo_col1">Due date</div>
                <div class="todo_col2">
                    {{form.due_chk}}{{form.due_date}}
                </div>
            </div>
            <div class="todo_row">
                <div class="todo_col1">Status</div>
                <div class="todo_col2">{{form.complete_chk}} <a style="font-weight: normal;">완료시 체크해주세요.</a></div>
            </div>
        </div>
        <div id="todo_row">
            <div id="todo_content_title">Notes</div>
            <div id="todo_content">{{form.text}}</div>
        </div>
    </div>
</form>
{% endblock %}