.page_header {
    width: 100%;
    float: left;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
}

#header {
    width: 90%;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 50px;
}

#alarm {
    width: 10%;
    height: 50px;
    float: right;
}

#alarm_counter {
    position: absolute;
    top: -1px;
    right: 1px;
    min-width: 8px;
    height: 20px;
    line-height: 20px;
    margin-top: -11px;
    padding: 0 6px;
    font-weight: normal;
    font-size: small;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    background: #e23442;
    border: 1px solid #911f28;
    border-radius: 11px;
    background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
    background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
    background-image: -o-linear-gradient(top, #e8616c, #dd202f);
    background-image: linear-gradient(to bottom, #e8616c, #dd202f);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.context {
    background-color: cornsilk;
    float: left;
    width: 100%;
    height: 100%;
    position:relative;
}

#context_list {
    width: 50%;
    height : 70%;    
    background-color: white;
    margin: 3% 0px 0px 23%;
    position:absolute; 
}

.btn_group {
    width: 100%;
    height: 55px;
    padding: 5px;

}

#todo_list {
    width: 100%;
    height: 80%;
    overflow: auto;
}

li {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

ul {

    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

span {
    display: inline-block;
}

.col_rank {
    width: 10%;
    text-align: center;
}

.col_title {
    width: 48%;
}

.col_due_date {
    width: 23%;
    text-align: center;
}

.col_complete {
    width: 17%;
    text-align: center;
}

#todo_list_header {
    height: 35px;
    text-align: center;
    margin-bottom: 0;
}

#todo_list_header li {
    border-bottom: 1px solid lightgrey;
}

#fixed li {
    background-color: lightgrey;
}

/* The Modal (background) */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
#modal_content {
    background-color: #fefefe;
    margin-left: 70%;
    margin-top: 3%;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    /* Could be more or less, depending on screen size */
    height: 300px;
    overflow: auto;
}

#modal_header {
    height: 45px;
}

#modal_cancel_btn{
    float: right;
}

#modal_table {
    display: table;
    width: 100%;
    height: 100px;
    overflow: auto;
}

.modal_row_header {
    border-bottom: 1px solid lightgray;

}

.modal_col1 {
    width: 60%;
    margin: 0px;
    float: left;
}

.modal_col2 {
    width: 40%;
    margin: 0px;
}

/* post_detail */
#todo_table {
    display: table;
    width: 100%;
    
}

.todo_row {
    display:inline-block;
    margin-left : 0px;
    width: 100%;
    padding:15px;
}

.todo_cell {
    display:inline-block;
    padding: 30px;
    width: 100%;
    /* border-bottom: 1px solid #DDD; */
}

.col1 {
    width: 30%;
}

.col2 {
    width: 50%;
}
